<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

<div class="list-group">
    <img class="rounded-circle ml-3 mb-2 mt-2" src="{{ parish.image.url }}" style="width: 80px; height: 80px;">
    <a href="{% url 'home' %}" class="btn btn-secondary" style="position:absolute; top:10px; right:10px">Return to Home</a>
    <div>
        <h4 class="ml-3 m">Parish: {{ parish.name }}</h4>
    </div>
</div>


<p class="ml-3 ">Number of inspections: {{ num_inspections }}</p>

{% if request.user.is_authenticated and parish.created_by == request.user %}
    <a href="{% url 'create_inspection' parish.id %}" class="btn btn-primary ml-3 mb-2">Create Inspection</a>
    <a href="{% url 'delete_parish' parish.id %}" class="btn btn-danger ml-3 mb-2">Delete Parish</a>
{% endif %}

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Inspection</th>
            <th>Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for inspection in inspections %}
        <tr>
            <td># {{ forloop.revcounter }}</td> <!-- Use Django's built-in forloop.counter to numerate -->
            <td>{{ inspection.updated_at }}</td>
            <td>
                <a href="{% url 'inspection_detail' parish.id inspection.id %}">View</a>
                {% if is_creator %}
                    | <a href="{% url 'edit_inspection' parish.id inspection.id %}">Edit</a>
                    | <a href="{% url 'delete_inspection' parish.id inspection.id %}" onclick="return confirm('Are you sure you want to delete this inspection?');">Delete</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>



